<!DOCTYPE html>	
<html ng-app="libApp">
<head>
	<center><h2>Fill New Borrower Details</h2></center>
<style>
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}
</style>
</head>
<body>
<div class="container" ng-controller="addBorrowerController">
<br>
<center>
<form name="memberForm">
 <div>
   <table style="width:100%" class="table">
	<tr><td><div class="required"><label>First Name</label></div></td><td><input name="fname" id="txt_Fname" ng-model="fname" autofocus required></p></td></tr>
	<tr><td><div class="required"><label>Last Name</label></div></td><td><input ng-model="lname" required></td></tr>
	<tr><td><div class="required"><label>Email id</label></div></td><td><input name="email" type="email" ng-model="email" required>
<p ng-show="memberForm.email.$invalid && !memberForm.email.$pristine" class="help-block">Enter a valid email</p></td></tr>	
	<tr><td><div class="required"><label>Address</label></div></td><td><input ng-model="address" required></td></tr>
	<tr><td><label>Phone</label></td><td><input name="phone" type="tel" ng-model="phone" pattern="^\(\d{3}\) \d{3}-\d{4}$" placeholder="(000) 000-0000"> Use (000) 000-0000 format only
<p ng-show="memberForm.phone.$invalid" class="help-block">Enter a valid telephone number</p></td></tr>
	<tr><td></td><td><input type="button" value="ADD BORROWER" title="Fill all values" ng-click="addBorrowerDetails()" ng-disabled="memberForm.$invalid"></td></tr>
   </table>
  </div>
</form>
</center>
</div>
</body>
</html>
